### Ensemble techniques- Boosting Models

### importing the Libraries

In [1]:
!pip install xgboost

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: xgboost in c:\users\hi\appdata\roaming\python\python311\site-packages (2.0.3)
Requirement already satisfied: numpy in c:\programdata\anaconda3\lib\site-packages (from xgboost) (1.24.3)
Requirement already satisfied: scipy in c:\programdata\anaconda3\lib\site-packages (from xgboost) (1.10.1)

In [11]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set()

import warnings
warnings.filterwarnings('ignore')

from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split


from sklearn.ensemble import AdaBoostClassifier,GradientBoostingClassifier
from xgboost import XGBClassifier

from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

In [3]:
## Load the data set

dataset = pd.read_csv("C:\\Users\\Hi\\Downloads\\kidney_disease.csv")

In [5]:
dataset.head()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,0.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd

### Data Preprocessind

In [7]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              400 non-null    int64
 1   age             391 non-null    float64
 2   bp              388 non-null    float64
 3   sg              353 non-null    float64
 4   al              354 non-null    float64
 5   su              351 non-null    float64
 6   rbc             248 non-null    object
 7   pc              335 non-null    object
 8   pcc             396 non-null    object
 9   ba              396 non-null    object
 10  bgr             356 non-null    float64
 11  bu              381 non-null    float64
 12  sc              383 non-null    float64
 13  sod             313 non-null    float64
 14  pot             312 non-null    float64
 15  hemo            348 non-null    float64
 16  pcv             330 non-null    object
 17  wc              295 non-null    object
 18  rc              270 non-null    object
 19  htn             398 non-null    object
 20  dm              398 non-null    object
 21  cad             398 non-null    object
 22  appet           399 non-null    object
 23  pe              399 non-null    object
 24  ane             399 non-null    object
 25  classification  400 non-null    object
dtypes: float64(11), int64(1), object(14)
memory usage: 81.4+ KB

In [9]:
dataset.isnull().sum()

id                  0
age                 9
bp                 12
sg                 47
al                 46
su                 49
rbc               152
pc                 65
pcc                 4
ba                  4
bgr                44
bu                 19
sc                 17
sod                87
pot                88
hemo               52
pcv                70
wc                105
rc                130
htn                 2
dm                  2
cad                 2
appet               1
pe                  1
ane                 1
classification      0
dtype: int64

In [10]:

dataset.describe()

,id,age,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo
count,400.000000,391.000000,388.000000,353.000000,354.000000,351.000000,356.000000,381.000000,383.000000,313.000000,312.000000,348.000000
mean,199.500000,51.483376,76.082474,1.017408,1.016949,0.450142,148.036517,57.425722,3.072454,137.528754,4.627244,12.474713
std,115.614301,17.169714,14.736739,0.005717,1.352679,1.099191,79.281714,50.503006,5.741126,10.408752,3.193904,3.040816
min,0.000000,2.000000,0.000000,1.005000,0.000000,0.000000,22.000000,1.500000,0.400000,4.500000,2.500000,0.000000
25%,99.750000,42.000000,70.000000,1.010000,0.000000,0.000000,99.000000,27.000000,0.900000,135.000000,3.800000,10.300000
50%,199.500000,55.000000,80.000000,1.020000,0.000000,0.000000,121.000000,42.000000,1.300000,138.000000,4.400000,12.650000
75%,299.250000,64.500000,80.000000,1.020000,2.000000,0.000000,163.000000,66.000000,2.800000,142.000000,4.900000,15.000000
max,399.000000,90.000000,180.000000,1.025000,5.000000,5.000000,490.000000,391.000000,76.000000,163.000000,47.000000,17.800000

In [16]:
### Handling Missing values

imputer1 = SimpleImputer(strategy='mean')
imputer2 = SimpleImputer(strategy='median')
imputer3 = SimpleImputer(strategy='most_frequent')

In [17]:
dataset.columns

Index(['id', 'age', 'bp', 'sg', 'al', 'su', 'rbc', 'pc', 'pcc', 'ba', 'bgr',
       'bu', 'sc', 'sod', 'pot', 'hemo', 'pcv', 'wc', 'rc', 'htn', 'dm', 'cad',
       'appet', 'pe', 'ane', 'classification'],
      dtype='object')

In [18]:
trf = ColumnTransformer([('imputer1',imputer1,['age', 'bp', 'sg', 'al', 'su','sod', 'pot', 'hemo']),
                        ('imputer2',imputer2,['bgr','bu','sc']),
                        ('imputer3',imputer3,['rbc', 'pc', 'pcc', 'ba','pcv', 'wc', 'rc', 'htn', 'dm', 'cad','appet', 'pe', 'ane']),
                        ],
                        remainder='passthrough')

In [20]:
dataset1 = dataset.drop(['id'], axis=1)

In [21]:
trf

ColumnTransformer(remainder='passthrough',
                  transformers=[('imputer1', SimpleImputer(),
                                 ['age', 'bp', 'sg', 'al', 'su', 'sod', 'pot',
                                  'hemo']),
                                ('imputer2', SimpleImputer(strategy='median'),
                                 ['bgr', 'bu', 'sc']),
                                ('imputer3',
                                 SimpleImputer(strategy='most_frequent'),
                                 ['rbc', 'pc', 'pcc', 'ba', 'pcv', 'wc', 'rc',
                                  'htn', 'dm', 'cad', 'appet', 'pe', 'ane'])])

In [22]:
df_imputed = pd.DataFrame(trf.fit_transform(dataset1))

df_imputed

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,48.0,80.0,1.02,1.0,0.0,137.528754,4.627244,15.4,121.0,36.0,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,7.0,50.0,1.02,4.0,0.0,137.528754,4.627244,11.3,121.0,18.0,...,38,6000,5.2,no,no,no,good,no,no,ckd
2,62.0,80.0,1.01,2.0,3.0,137.528754,4.627244,9.6,423.0,53.0,...,31,7500,5.2,no,yes,no,poor,no,yes,ckd
3,48.0,70.0,1.005,4.0,0.0,111.0,2.5,11.2,117.0,56.0,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,51.0,0.0,1.01,2.0,0.0,137.528754,4.627244,11.6,106.0,26.0,...,35,7300,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,55.0,80.0,1.02,0.0,0.0,150.0,4.9,15.7,140.0,49.0,...,47,6700,4.9,no,no,no,good,no,no,notckd
396,42.0,70.0,1.025,0.0,0.0,141.0,3.5,16.5,75.0,31.0,...,54,7800,6.2,no,no,no,good,no,no,notckd
397,12.0,80.0,1.02,0.0,0.0,137.0,4.4,15.8,100.0,26.0,...,49,6600,5.4,no,no,no,good,no,no,notckd
398,17.0,60.0,1.025,0.0,0.0,135.0,4.9,14.2,114.0,50.0,...,51,7200,5.9,no,no,no,good,no,no,notckd
399,58.0,80.0,1.025,0.0,0.0,141.0,3.5,15.8,131.0,18.0,...,53,6800,6.1,no,no,no,good,no,no,notckd

In [24]:
df_imputed.columns = ['age', 'bp', 'sg', 'al', 'su','sod', 'pot', 'hemo','bgr', 'bu', 'sc','rbc', 'pc', 'pcc', 'ba','pcv', 'wc', 'rc', 'htn', 'dm', 'cad','appet', 'pe', 'ane','classification']

In [25]:
df_imputed

,age,bp,sg,al,su,sod,pot,hemo,bgr,bu,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,48.0,80.0,1.02,1.0,0.0,137.528754,4.627244,15.4,121.0,36.0,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,7.0,50.0,1.02,4.0,0.0,137.528754,4.627244,11.3,121.0,18.0,...,38,6000,5.2,no,no,no,good,no,no,ckd
2,62.0,80.0,1.01,2.0,3.0,137.528754,4.627244,9.6,423.0,53.0,...,31,7500,5.2,no,yes,no,poor,no,yes,ckd
3,48.0,70.0,1.005,4.0,0.0,111.0,2.5,11.2,117.0,56.0,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,51.0,0.0,1.01,2.0,0.0,137.528754,4.627244,11.6,106.0,26.0,...,35,7300,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,55.0,80.0,1.02,0.0,0.0,150.0,4.9,15.7,140.0,49.0,...,47,6700,4.9,no,no,no,good,no,no,notckd
396,42.0,70.0,1.025,0.0,0.0,141.0,3.5,16.5,75.0,31.0,...,54,7800,6.2,no,no,no,good,no,no,notckd
397,12.0,80.0,1.02,0.0,0.0,137.0,4.4,15.8,100.0,26.0,...,49,6600,5.4,no,no,no,good,no,no,notckd
398,17.0,60.0,1.025,0.0,0.0,135.0,4.9,14.2,114.0,50.0,...,51,7200,5.9,no,no,no,good,no,no,notckd
399,58.0,80.0,1.025,0.0,0.0,141.0,3.5,15.8,131.0,18.0,...,53,6800,6.1,no,no,no,good,no,no,notckd

In [27]:
df_imputed.isnull().sum()

age               0
bp                0
sg                0
al                0
su                0
sod               0
pot               0
hemo              0
bgr               0
bu                0
sc                0
rbc               0
pc                0
pcc               0
ba                0
pcv               0
wc                0
rc                0
htn               0
dm                0
cad               0
appet             0
pe                0
ane               0
classification    0
dtype: int64

In [28]:
# Finding the unique values in the columns

for i in df_imputed.columns:
    print("*****************************************************",i,"*********************************************")
    print()
    print(set(df_imputed[i].tolist()))

***************************************************** age *********************************************

{2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 11.0, 12.0, 14.0, 15.0, 17.0, 19.0, 20.0, 21.0, 22.0, 23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 32.0, 33.0, 34.0, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0, 45.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 51.48337595907928, 54.0, 55.0, 56.0, 58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65.0, 57.0, 67.0, 68.0, 69.0, 70.0, 71.0, 72.0, 73.0, 74.0, 75.0, 76.0, 78.0, 79.0, 80.0, 81.0, 82.0, 83.0, 90.0, 66.0}
***************************************************** bp *********************************************

{0.0, 100.0, 70.0, 76.08247422680412, 140.0, 110.0, 80.0, 50.0, 180.0, 120.0, 90.0, 60.0}
***************************************************** sg *********************************************

{1.0174079320113314, 1.02, 1.005, 1.015, 1.01, 1.025}
***************************************************** al *********************************************

{0.0, 1.0, 2.0, 3.0, 4.0, 1.0169491525423728, 5.0}
***************************************************** su *********************************************

{0.0, 1.0, 0.45014245014245013, 3.0, 4.0, 2.0, 5.0}
***************************************************** sod *********************************************

{128.0, 129.0, 130.0, 131.0, 4.5, 132.0, 133.0, 135.0, 136.0, 137.52875399361022, 138.0, 139.0, 140.0, 141.0, 142.0, 134.0, 137.0, 143.0, 146.0, 147.0, 145.0, 144.0, 150.0, 163.0, 104.0, 111.0, 113.0, 114.0, 115.0, 120.0, 122.0, 124.0, 125.0, 126.0, 127.0}
***************************************************** pot *********************************************

{2.5, 3.7, 3.2, 4.62724358974359, 4.0, 4.2, 5.8, 3.4, 6.4, 4.9, 4.1, 4.3, 5.2, 6.6, 3.5, 3.0, 4.6, 4.4, 4.5, 5.9, 5.5, 5.0, 5.4, 5.1, 5.6, 6.5, 7.6, 39.0, 47.0, 3.6, 2.8, 2.7, 3.8, 3.3, 4.7, 4.8, 5.7, 5.3, 6.3, 2.9, 3.9}
***************************************************** hemo *********************************************

{0.0, 3.1, 4.8, 5.5, 6.6, 7.6, 8.4, 7.7, 9.6, 10.8, 11.2, 11.3, 11.6, 12.2, 15.4, 12.4, 9.5, 12.6, 12.1, 12.7, 13.0, 15.0, 15.6, 16.1, 17.0, 6.0, 7.5, 8.0, 8.5, 9.0, 10.0, 10.5, 11.0, 11.5, 12.47471264367816, 12.5, 12.0, 13.5, 14.0, 14.5, 15.5, 16.5, 16.4, 16.9, 16.0, 16.6, 17.1, 17.4, 17.5, 17.6, 7.9, 9.4, 9.9, 10.9, 10.4, 11.9, 11.4, 12.9, 13.9, 13.4, 14.4, 14.9, 15.9, 5.8, 6.8, 6.3, 7.3, 8.3, 8.2, 8.8, 8.7, 9.7, 9.8, 9.3, 9.2, 10.7, 10.3, 10.2, 11.8, 11.7, 12.3, 12.8, 13.8, 13.2, 13.7, 13.3, 14.3, 14.2, 14.8, 14.7, 15.2, 15.7, 15.8, 15.3, 16.2, 16.3, 16.7, 16.8, 17.2, 17.3, 17.7, 17.8, 6.2, 6.1, 7.1, 8.6, 8.1, 9.1, 10.1, 10.6, 11.1, 13.6, 13.1, 14.1, 14.6, 15.1}
***************************************************** bgr *********************************************

{22.0, 70.0, 74.0, 75.0, 76.0, 78.0, 79.0, 80.0, 81.0, 82.0, 83.0, 84.0, 85.0, 86.0, 87.0, 88.0, 89.0, 90.0, 91.0, 92.0, 93.0, 94.0, 95.0, 96.0, 97.0, 98.0, 99.0, 100.0, 101.0, 102.0, 103.0, 104.0, 105.0, 106.0, 107.0, 108.0, 109.0, 110.0, 111.0, 112.0, 113.0, 114.0, 115.0, 116.0, 117.0, 118.0, 119.0, 120.0, 121.0, 122.0, 123.0, 124.0, 125.0, 127.0, 128.0, 129.0, 130.0, 131.0, 132.0, 133.0, 134.0, 137.0, 138.0, 139.0, 140.0, 141.0, 143.0, 144.0, 146.0, 148.0, 150.0, 153.0, 156.0, 157.0, 158.0, 159.0, 160.0, 162.0, 163.0, 165.0, 169.0, 171.0, 172.0, 173.0, 176.0, 182.0, 184.0, 192.0, 201.0, 203.0, 204.0, 207.0, 208.0, 210.0, 213.0, 214.0, 215.0, 219.0, 220.0, 224.0, 226.0, 230.0, 233.0, 234.0, 238.0, 239.0, 241.0, 242.0, 246.0, 248.0, 250.0, 251.0, 252.0, 253.0, 255.0, 256.0, 261.0, 263.0, 264.0, 268.0, 269.0, 270.0, 273.0, 280.0, 288.0, 294.0, 295.0, 297.0, 298.0, 303.0, 307.0, 308.0, 309.0, 323.0, 341.0, 352.0, 360.0, 380.0, 410.0, 415.0, 423.0, 424.0, 425.0, 447.0, 463.0, 490.0}
***************************************************** bu *********************************************

{1.5, 10.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 44.0, 45.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0, 56.0, 50.1, 58.0, 57.0, 60.0, 61.0, 64.0, 65.0, 66.0, 67.0, 68.0, 70.0, 71.0, 72.0, 73.0, 74.0, 75.0, 76.0, 77.0, 79.0, 80.0, 82.0, 85.0, 86.0, 87.0, 88.0, 89.0, 90.0, 92.0, 93.0, 94.0, 95.0, 96.0, 98.0, 98.6, 103.0, 106.0, 107.0, 111.0, 113.0, 114.0, 115.0, 118.0, 125.0, 132.0, 133.0, 137.0, 139.0, 142.0, 145.0, 146.0, 148.0, 150.0, 153.0, 155.0, 158.0, 162.0, 163.0, 164.0, 165.0, 166.0, 176.0, 180.0, 186.0, 191.0, 202.0, 208.0, 215.0, 217.0, 219.0, 223.0, 235.0, 241.0, 309.0, 322.0, 391.0}
***************************************************** sc *********************************************

{0.8, 1.2, 1.4, 3.8, 1.8, 1.1, 1.9, 7.2, 4.0, 2.7, 2.1, 4.6, 4.1, 9.6, 5.2, 7.7, 7.3, 2.5, 2.0, 10.8, 3.0, 3.25, 15.0, 14.2, 24.0, 16.9, 18.0, 18.1, 1.5, 1.0, 32.0, 6.5, 0.5, 6.0, 7.5, 8.5, 48.1, 11.5, 12.0, 13.0, 13.5, 76.0, 16.4, 2.4, 2.9, 3.9, 3.4, 4.4, 5.9, 6.4, 11.9, 13.4, 2.8, 2.3, 3.3, 4.3, 1.3, 5.3, 6.3, 6.8, 0.6, 0.9, 0.4, 9.7, 9.2, 9.3, 0.7, 10.2, 1.7, 11.8, 12.2, 12.8, 13.8, 13.3, 2.2, 15.2, 3.2, 6.7, 5.6, 6.1, 7.1, 1.6, 2.6, 3.6}
***************************************************** rbc *********************************************

{'abnormal', 'normal'}
***************************************************** pc *********************************************

{'abnormal', 'normal'}
***************************************************** pcc *********************************************

{'present', 'notpresent'}
***************************************************** ba *********************************************

{'present', 'notpresent'}
***************************************************** pcv *********************************************

{'41', '36', '14', '21', '19', '35', '27', '\t?', '52', '9', '50', '17', '53', '34', '29', '54', '43', '22', '39', '30', '31', '48', '20', '\t43', '49', '47', '38', '28', '15', '51', '45', '32', '40', '24', '44', '37', '16', '18', '46', '33', '25', '26', '42', '23'}
***************************************************** wc *********************************************

{'8400', '5600', '9700', '5000', '10800', '8800', '18900', '7100', '4500', '12400', '9300', '8100', '7700', '14900', '5500', '8200', '15200', '6500', '13200', '11000', '15700', '12800', '6900', '4300', '\t?', '6800', '\t6200', '9800', '26400', '11200', '8000', '3800', '9600', '9400', '6300', '10300', '19100', '12500', '7000', '10900', '9000', '7500', '13600', '12000', '10500', '5400', '5700', '2600', '10700', '8300', '6700', '12200', '9100', '6400', '12300', '9200', '12100', '7300', '8600', '\t8400', '5200', '16700', '6200', '7800', '6600', '11800', '10200', '9500', '11400', '8500', '5800', '10400', '4100', '11900', '7400', '5100', '11300', '4900', '12700', '7200', '16300', '4700', '14600', '7900', '21600', '5900', '9900', '2200', '11500', '4200', '5300', '6000'}
***************************************************** rc *********************************************

{'5.9', '3.8', '\t?', '3.9', '4.4', '2.8', '4.1', '2.4', '4.8', '5.4', '2.9', '3.4', '5.5', '6.2', '3.3', '6.3', '5.7', '3.6', '4.9', '2.5', '4', '5.2', '3', '5.3', '3.1', '5.1', '5.8', '4.6', '8', '2.1', '2.3', '2.6', '4.2', '4.3', '2.7', '4.7', '6.1', '5.6', '6.5', '5', '3.5', '4.5', '3.7', '6', '3.2', '6.4'}
***************************************************** htn *********************************************

{'no', 'yes'}
***************************************************** dm *********************************************

{'no', '\tno', '\tyes', 'yes', ' yes'}
***************************************************** cad *********************************************

{'no', 'yes', '\tno'}
***************************************************** appet *********************************************

{'good', 'poor'}
***************************************************** pe *********************************************

{'no', 'yes'}
***************************************************** ane *********************************************

{'no', 'yes'}
***************************************************** classification *********************************************

{'ckd', 'notckd', 'ckd\t'}

In [ ]:
"""
bp
hemo
pcv
wc
rc
dm
cad
classification
"""

In [31]:
df_imputed['bp'] = np.where(df_imputed['bp']==0.00, df_imputed['bp'].median(), df_imputed['bp'])

In [32]:
df_imputed['hemo'] = np.where(df_imputed['hemo']==0.00, df_imputed['hemo'].median(),df_imputed['hemo'])

In [33]:
df_imputed['pcv'].mode()

0    41
Name: pcv, dtype: object

In [34]:
df_imputed['pcv'] = df_imputed['pcv'].apply(lambda x:'43' if x=='\t43' else x)

In [35]:
df_imputed['pcv'] = df_imputed['pcv'].apply(lambda x:'41' if x =='\t?' else x)

In [36]:
df_imputed['wc'].value_counts()

9800     116
6700      10
9600       9
7200       9
9200       9
        ...
19100      1
\t?        1
12300      1
14900      1
12700      1
Name: wc, Length: 92, dtype: int64

In [37]:
df_imputed['wc'] = df_imputed['wc'].apply(lambda x:'9800' if x=='\t?' else x)

In [38]:
df_imputed['rc'].value_counts()

5.2    148
4.5     16
4.9     14
4.7     11
5       10
3.9     10
4.8     10
4.6      9
3.4      9
5.9      8
3.7      8
6.1      8
5.5      8
5.4      7
5.3      7
5.8      7
3.8      7
4.2      6
4.3      6
4        6
5.6      6
5.1      5
6.2      5
6.4      5
5.7      5
6.5      5
4.1      5
4.4      5
3.2      5
6        4
3.6      4
6.3      4
3.3      3
3        3
3.5      3
2.9      2
2.6      2
2.8      2
3.1      2
2.5      2
2.7      2
2.1      2
\t?      1
2.3      1
2.4      1
8        1
Name: rc, dtype: int64

In [39]:
df_imputed['rc'] = df_imputed['rc'].apply(lambda x:'5.2' if x=='\t?' else x)

In [40]:
df_imputed['dm'].value_counts()

no       260
yes      134
\tno       3
\tyes      2
 yes       1
Name: dm, dtype: int64

In [41]:
df_imputed['dm'] = df_imputed['dm'].apply(lambda x:'no' if x=='\tno' else x)
df_imputed['dm'] = df_imputed['dm'].apply(lambda x:'yes' if x=='\tyes' else x)
df_imputed['dm'] = df_imputed['dm'].apply(lambda x:'yes' if x==' yes' else x)

In [42]:
df_imputed['cad'].value_counts()

no      364
yes      34
\tno      2
Name: cad, dtype: int64

In [43]:
df_imputed['cad'] = df_imputed['cad'].apply(lambda x:'no' if x=='\tno' else x)

In [44]:
df_imputed['classification'].value_counts()

ckd       248
notckd    150
ckd\t       2
Name: classification, dtype: int64

In [45]:
df_imputed['classification'] = df_imputed['classification'].apply(lambda x:'ckd' if x=='ckd\t' else x)

In [ ]:
 6    rbc            248 non-null    object 
 7   pc              335 non-null    object 
 8   pcc             396 non-null    object 
 9   ba              396 non-null    object
 #16  pcv             330 non-null    object 
 #17  wc              295 non-null    object 
 #18  rc              270 non-null    object 
 19  htn             398 non-null    object 
 20  dm              398 non-null    object 
 21  cad             398 non-null    object 
 22  appet           399 non-null    object 
 23  pe              399 non-null    object 
 24  ane             399 non-null    object 
 25  classification  400 non-null    object

In [46]:
for i in dataset1.select_dtypes(exclude=['object']).columns:
  df_imputed[i] = df_imputed[i].apply(lambda x:float(x))

In [47]:
## convert catergorical column to numeric columns

df_imputed['pcv'] = pd.to_numeric(df_imputed['pcv'])
df_imputed['wc'] = pd.to_numeric(df_imputed['wc'])
df_imputed['rc'] = pd.to_numeric(df_imputed['rc'])

In [50]:
## Encoding
df_imputed['rbc'] = df_imputed['rbc'].astype('category')
df_imputed['rbc'] = df_imputed['rbc'].cat.codes

df_imputed['pc'] = df_imputed['pc'].astype('category')
df_imputed['pc'] = df_imputed['pc'].cat.codes

df_imputed['pcc'] = df_imputed['pcc'].astype('category')
df_imputed['pcc'] = df_imputed['pcc'].cat.codes

df_imputed['ba'] = df_imputed['ba'].astype('category')
df_imputed['ba'] = df_imputed['ba'].cat.codes

df_imputed['htn'] = df_imputed['htn'].astype('category')
df_imputed['htn'] = df_imputed['htn'].cat.codes

df_imputed['dm'] = df_imputed['dm'].astype('category')
df_imputed['dm'] = df_imputed['dm'].cat.codes

df_imputed['cad'] = df_imputed['cad'].astype('category')
df_imputed['cad'] = df_imputed['cad'].cat.codes

df_imputed['appet'] = df_imputed['appet'].astype('category')
df_imputed['appet'] = df_imputed['appet'].cat.codes

df_imputed['pe'] = df_imputed['pe'].astype('category')
df_imputed['pe'] = df_imputed['pe'].cat.codes

df_imputed['ane'] = df_imputed['ane'].astype('category')
df_imputed['ane'] = df_imputed['ane'].cat.codes

df_imputed['classification'] = df_imputed['classification'].astype('category')
df_imputed['classification'] = df_imputed['classification'].cat.codes

In [51]:
df_imputed.head()

,age,bp,sg,al,su,sod,pot,hemo,bgr,bu,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,48.0,80.000000,1.020,1.0,0.0,137.528754,4.627244,15.4,121.0,36.0,...,44,7800,5.2,1,1,0,0,0,0,0
1,7.0,50.000000,1.020,4.0,0.0,137.528754,4.627244,11.3,121.0,18.0,...,38,6000,5.2,0,0,0,0,0,0,0
2,62.0,80.000000,1.010,2.0,3.0,137.528754,4.627244,9.6,423.0,53.0,...,31,7500,5.2,0,1,0,1,0,1,0
3,48.0,70.000000,1.005,4.0,0.0,111.000000,2.500000,11.2,117.0,56.0,...,32,6700,3.9,1,0,0,1,1,1,0
4,51.0,76.082474,1.010,2.0,0.0,137.528754,4.627244,11.6,106.0,26.0,...,35,7300,4.6,0,0,0,0,0,0,0

In [52]:
df_imputed['classification'].value_counts()

0    250
1    150
Name: classification, dtype: int64

In [53]:
### seperating the data into independent and dependent variables

x = df_imputed.iloc[:,:-1]
y = df_imputed.iloc[:,-1]

In [54]:
## Feature Scaling
scaler = MinMaxScaler((-1,1))
x = scaler.fit_transform(x)
pd.DataFrame(x).head()

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,0.045455,-0.538462,0.5,-0.6,-1.0,0.678596,-0.904394,0.673469,-0.576923,-0.822850,...,-1.0,0.555556,-0.537190,0.050847,1.0,1.0,-1.0,-1.0,-1.0,-1.0
1,-0.886364,-1.000000,0.5,0.6,-1.0,0.678596,-0.904394,0.115646,-0.576923,-0.915276,...,-1.0,0.288889,-0.685950,0.050847,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
2,0.363636,-0.538462,-0.5,-0.2,0.2,0.678596,-0.904394,-0.115646,0.713675,-0.735558,...,-1.0,-0.022222,-0.561983,0.050847,-1.0,1.0,-1.0,1.0,-1.0,1.0
3,0.045455,-0.692308,-1.0,0.6,-1.0,0.343849,-1.000000,0.102041,-0.594017,-0.720154,...,-1.0,0.022222,-0.628099,-0.389831,1.0,-1.0,-1.0,1.0,1.0,1.0
4,0.113636,-0.598731,-0.5,-0.2,-1.0,0.678596,-0.904394,0.156463,-0.641026,-0.874198,...,-1.0,0.155556,-0.578512,-0.152542,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0

### splitting the data

In [55]:
# split the data into train and test
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42, stratify=y)

### Model Building abd Evaluation

In [58]:
# AdaBoost Model
adaboost = AdaBoostClassifier()
adbt = adaboost.fit(x_train, y_train)

y_pred_adbt_train = adaboost.predict(x_train)
y_pred_adbt_test = adaboost.predict(x_test)

accuracy_adbt_train = accuracy_score(y_train, y_pred_adbt_train)
accuracy_adbt_test = accuracy_score(y_test, y_pred_adbt_test)

print(accuracy_adbt_train)
print(accuracy_adbt_test)

1.0
1.0

In [59]:
# GradientBoostingClassifier
gdboosting = GradientBoostingClassifier()
gdbt = gdboosting.fit(x_train, y_train)

y_pred_gdbt_train = gdboosting.predict(x_train)
y_pred_gdbt_test = gdboosting.predict(x_test)

accuracy_gdbt_train = accuracy_score(y_train, y_pred_gdbt_train)
accuracy_gdbt_test = accuracy_score(y_test, y_pred_gdbt_test)

print(accuracy_gdbt_train)
print(accuracy_gdbt_test)

1.0
0.975

In [60]:
# XGBClassifier
xgboost = XGBClassifier()
xgbt = xgboost.fit(x_train, y_train)

y_pred_xgbt_train = xgboost.predict(x_train)
y_pred_xgbt_test = xgboost.predict(x_test)

accuracy_xgbt_train = accuracy_score(y_train, y_pred_xgbt_train)
accuracy_xgbt_test = accuracy_score(y_test, y_pred_xgbt_test)

print(accuracy_xgbt_train)
print(accuracy_xgbt_test)

1.0
0.9625

In [61]:
# XGBClassifier
xgboost = XGBClassifier()
xgbt = xgboost.fit(x_train, y_train)
y_pred_xgbt_train = xgboost.predict(x_train)
y_pred_xgbt_test = xgboost.predict(x_test)
accuracy_xgbt_train = accuracy_score(y_train, y_pred_xgbt_train)
from sklearn.model_selection import cross_val_score
accuracy_train = cross_val_score(xgboost, x_train, y_train, cv=10)
accuracy_xgbt_test = accuracy_score(y_test, y_pred_xgbt_test)
print(accuracy_train.mean())
print(accuracy_xgbt_test)

0.98125
0.9625

In [62]:
print(classification_report(y_train, y_pred_xgbt_train))
print()
print(classification_report(y_test, y_pred_xgbt_test))
print("Training Accuracy :",accuracy_train.mean())
print()
print("Test Accuracy :",accuracy_xgbt_test)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00       200
           1       1.00      1.00      1.00       120

    accuracy                           1.00       320
   macro avg       1.00      1.00      1.00       320
weighted avg       1.00      1.00      1.00       320


              precision    recall  f1-score   support

           0       0.94      1.00      0.97        50
           1       1.00      0.90      0.95        30

    accuracy                           0.96        80
   macro avg       0.97      0.95      0.96        80
weighted avg       0.96      0.96      0.96        80

Training Accuracy : 0.98125

Test Accuracy : 0.9625

In [63]:
print(confusion_matrix(y_train, y_pred_xgbt_train))
print()
print(confusion_matrix(y_test, y_pred_xgbt_test))

[[200   0]
 [  0 120]]

[[50  0]
 [ 3 27]]

                                     *****END****